/* color adjustments to fit logo theme */
.wy-menu > .caption > span.caption-text {
    color: #24866e;
}
.wy-nav-top {
    background-color: #24866e;
    color: #ffffff;
}
.wy-side-nav-search {
    background-color: #24866e;
}
.wy-side-nav-search input[type="text"] {
    border-color: #221b38;
}

/* fix for position of equation numbers
 * https://github.com/rtfd/sphinx_rtd_theme/issues/301
 */
.eqno {
    margin-left: 5px;
    float: right;
}
.math .headerlink {
    display: none;
    visibility: hidden;
}
.math:hover .headerlink {
    display: inline-block;
    visibility: visible;
    margin-right: -0.7em;
}

/* fix for property line spacing
* https://github.com/rtfd/sphinx_rtd_theme/issues/1301
*/
.property {
    display: block !important;
    padding-right: 8px;
    max-width: 100%;
}

/* caption positions for tables and figures */
.docutils caption {
    caption-side: bottom;
}
